<section>
        <h2 
          class="text-center text-4xl m-6">
           Nuestros Productos
        </h2>
</section>

<section class="flex justify-center flex-wrap gap-5"> 
        
    <ng-container *ngIf="http.cargandoProductos() ; else ListadoDeProductos">
        
        <app-card-skeleton /><app-card-skeleton />
        <app-card-skeleton /><app-card-skeleton />
        <app-card-skeleton /><app-card-skeleton />
        <app-card-skeleton /><app-card-skeleton />
        <app-card-skeleton /><app-card-skeleton />
        
    </ng-container>    
   
    <ng-template #ListadoDeProductos>
        @for (producto of ListaDeProductos(); track $index) {
           <app-product-card [Producto]="producto"/>
        }
    </ng-template>
        
 
</section>
