<section>    

    <mat-card class="example-card w-xs" appearance="outlined">

        <span 
            class="absolute w-full">
            <span class="bg-red-500 text-white p-1 rounded-tl-lg  relative top-0.5">
                - {{ Producto().discountPercentage}} %
            </span>
        </span>

        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{ Producto().title }}</mat-card-title>
            
            <mat-card-subtitle>
                <span class="text-red-500"> 
                    {{ Producto().brand }}
                </span>
            </mat-card-subtitle>

        </mat-card-header>

        <img mat-card-image [src]="Producto().thumbnail" [alt]="'Imagen de ' + Producto().title">

        <mat-card-content>            
            <p>
               {{Producto().description}}
            </p>
        </mat-card-content>

        <mat-card-actions class="flex justify-around items-center">

            <mat-chip class="pt-1" (click)="favService.AddFavoritos(Producto())">                 
                 <mat-icon 
                           [ngClass]="{ 'favorito' : esProductoFavorito(Producto().id) } "
                    >favorite
                </mat-icon>
            </mat-chip>

            <section class="flex justify-around items-center">
                <span class="text-right flex justify-end text-lg"> $ {{Producto().price  }}</span>                
            </section>               
            
            <mat-chip (click)="CarritoDeCompras.agregarAlCarrito(Producto(),1)">             
                <mat-icon class="animarCarrito">local_mall</mat-icon>
            </mat-chip>

        </mat-card-actions>

    </mat-card>

</section>
