<div class="relative  w-[320px] h-[444px] bg-white shadow-md rounded-xl border border-gray-200 overflow-hidden animate-pulse">

  <!-- Etiqueta de descuento (simulada) -->
  <div class="absolute top-0 left-0">
    <div class="bg-red-300 h-6 w-16 rounded-br-lg"></div>
  </div>

  <!-- Header con avatar y texto -->
  <div class="flex items-center gap-3 px-4 py-3">
    <div class="w-10 h-10 rounded-full bg-gray-300"></div>
    <div class="flex-1 space-y-1">
      <div class="h-4 bg-gray-300 rounded w-3/4"></div>
      <div class="h-3 bg-red-200 rounded w-1/2"></div>
    </div>
  </div>

  <!-- Imagen (simulada) -->
  <div class="w-full h-318 bg-gray-300"></div>

  <!-- Descripción -->
  <!-- <div class="px-4 py-2">
    <div class="h-3 bg-gray-300 rounded w-full mb-1"></div>
    <div class="h-3 bg-gray-300 rounded w-5/6 mb-1"></div>
    <div class="h-3 bg-gray-300 rounded w-2/3"></div>
  </div> -->

  <!-- Acciones -->
  <div class="flex justify-between items-center px-4 py-3 border-t">
    <div class="w-6 h-6 bg-red-200 rounded-full"></div>
    <div class="h-4 w-16 bg-gray-300 rounded"></div>
    <div class="w-6 h-6 bg-gray-300 rounded-full"></div>
  </div>

</div>
