<nav class="flex flex-wrap w-full bg-black">
  
  <section class="hidden min-[1024px]:block w-full sm:w-1/3">
    <!-- Contenido -->
  </section>

  <!-- Segundo section -->
  <section
    class="w-1/2 lg:w-1/3 flex flex-col sm:flex-row justify-center items-center "
  >      
  </section>
  
  <!-- Tercer section -->
  <section
    class="w-1/2 lg:w-1/3 flex flex-col sm:flex-row justify-end items-center"
  >
    <ul
      class="bg-black flex gap-2 text-white p-1 pt-2 justify-end pr-4 sm:pr-10"
    >
      <li><mat-icon fontIcon="search"></mat-icon></li>
      <li><mat-icon fontIcon="person"></mat-icon></li>
      <li><mat-icon fontIcon="favorite"></mat-icon></li>
      <li>
        <mat-icon fontIcon="local_mall" matBadge="0"></mat-icon>
      </li>
    </ul>
  </section>
</nav>
