<nav class="flex flex-wrap w-full bg-black justify-between px-5">  

  <section>
      
       <img
         src="/banner/banner-1.jpg"                
         alt="banner"     
         width="90"
         height="200"          
         [routerLink]="['']"
        />
      
  </section>


  <section>
  
    <ul
      class="bg-black flex gap-2 text-white p-1 justify-end pr-4 pt-2"
    >     
      <li><mat-icon fontIcon="person"></mat-icon></li>
      <li>
        <mat-icon fontIcon="favorite"
                   [matBadge]="totalFavoritos()"
                   [matBadgeHidden]="totalFavoritos() === 0">
        </mat-icon>        
      </li>
      <li>
        <mat-icon fontIcon="local_mall" 
                  matButton 
                  [matBadge]="TotalProductosCarrito()" 
                  [matBadgeHidden]="TotalProductosCarrito() === 0"                  
                  [matMenuTriggerFor]="TotalProductosCarrito() > 0 ? menu : null">                  
        </mat-icon>
        <mat-menu #menu="matMenu" class="p-2 custom-menu border-white border-2">                 
              <table>
                <thead>
                  <tr>
                    <th>Prod.</th>
                    <th>Cant.</th>
                    <th>Precio</th>
                  </tr>
                </thead>
                <tbody>

                    @for (producto of CarritO.ArrayCarritoDeCompras() ;track $index) {                              
                      <tr>
                        <td>{{ producto.producto.title }}</td> 
                        <td class="text-center">{{ producto.cantidad }}</td> 
                        <td class="text-right">${{ producto.producto.price }}</td>
                      </tr>
                    }
                  
                </tbody>
              </table>
              <section class="flex flex-col items-end">
                <span>$ {{ totalCarrito().toPrecision(4) }} </span>                    
              </section>
            <section class="flex justify-center">
              <button matButton="filled"
                        class="mini-button"                        
                        style="background-color: blue !important;color: white !important;"
                        (click)="CarritO.limpiarCarrito()">
                        limpiar  
                </button>
                  <button matButton="filled" 
                         class="mini-button" 
                         [routerLink]="['/shoppingcart']">
                         Carrito
                  </button>               
            </section>
              
        </mat-menu>
      </li>

      <li>              
    </ul>
  </section>

</nav>
